<h1> Python Basics - Data Types and Control Structures </h1>

### Learning agenda of this notebook

- **Introduction to Python(Why, and what Python)**
- **Code Editor and IDE, why jupyter Notebook?**
- **Variables in Python**
- **Datatypes**
- **Comments in Python**
- **Operators in Python**
- **Python Indentation**
- **Branching with `if`, `else`, and `elif`**
- **The `pass` statement**
-

<h2 align=center style="color:red;">  Introduction to Python  </h2>

#### History

- Python is an interpreted, general-purpose, high-level programming language.




<img src="images/python-features.png" height=500px width=500px align="center">

### Importance of Python

<img align="center" width="900" height="800"  src="images/1_RtbFZYTMO9nptOxNSQdUTw.png" >

### Important Libraries and Frame Works

<img align="center" width="600px" height="500px"  src="images/5.jpg" >

### Applications of Python



<img src="images/python-applications.png" height=500px width=500px>

<h2 align=center style="color:red;"> Introduction to Jupyter Notebook </h2>


<img src="images/code_ide.png" height=500px width=500px>

#### What is Jupyter Notebook

- Jupyter Notebook is an open-source, web-based interactive environment, which allows you to create and share documents that contain live code, mathematical equations, graphics, maps, plots, visualizations, and narrative text. It integrates with many programming languages like Python, PHP, R, C#, etc. Jupyter Notebook mainly used for Python because Python is used with Artificial Intelligence (AI), Machine learning, as well as Deep learning.
- Notebook is a single document where you can run code, display the output, and also add explanations, formulas, charts, and make your work more transparent, understandable, repeatable, and shareable.

<h2 align=center style="color:red;">  Variables in Python  </h2>


- **print() Function / Built-in function**
- **Variables in Python**
    - Variables Names
    - What is variable
    - Declaring Variables and Assigning Values
    - Object References
    - Object Identity
    - Multiple Assignments
    - Python Variables Types
    - Delete a variable
    - Maximum possible value of integer in python
    - Print single and multiple variables in python
- **Python Data Types**
    - Immutable
    - Mutable
- **Input(), int(), float() functions**



<img src="images/Python-Variables.jpg" height=500px width=500px>

In [23]:
a = 10

#### Python `print()` Function
- This function prints the given `object` on the screen or other `standard output devices`.

**Syntax:**



print(object(s) , sep= separator, end=end)

- `object(s)`: It is an object to be printed. The Symbol * indicates that there may be more than one object.
- `sep` ='separator' (optional): The objects are separated by sep. The default value of sep is “ ”.
- `end` = 'end' (optional): it determines which object should be print at last.


<img src="images/print-func.png" height=500px width=500px>

In [24]:
# Method vs Function?

In [25]:
print("Learning Practical Data Science")

Learning Practical Data Science

In [26]:
print('Learning Practical Data Science')

Learning Practical Data Science

In [28]:
str1 = 'Learning Practical Data Science'
print(type(str1))

<class 'str'>

In [29]:
print(str1)

Learning Practical Data Science

#### 1. what is a variable and variable names

- . Python variable is also known as an identifier and used to hold value.


<img src="images/variable-rules.jpg" height=500px width=500px>

In [2]:
name = "Ali"
NAME = "Ehtisham"

In [30]:
name, NAME

('Ali', 'Ehtisham')

#### 2. Declaring Variable and Assigning Values
Python does not bind us to declare a variable before using it in the application. It allows us to create a variable at the required time.
The equal (=) operator is used to assign value to a variable.

In [31]:
# Syntax of C++
# int age;
# age = 23;

In [5]:
name = "Ali"
NAME = "Ehtisham"

In [32]:
name = None

In [34]:
name

'Suleman'

#### 3. Object References
- It is necessary to understand how the Python interpreter works when we declare a variable. The process of treating variables is somewhat different from many other programming languages.
- In python, each variable belongs to specific data type or class.
- To check the type of variable , we use a Python built-in `type()` function.

In [35]:
a = 50
# -infinity to +infinity
#  the variable a refers to an integer object.
print(type(a))

<class 'int'>

<img src="images/var-1.png" height=200px width=200px>

In [36]:
# Suppose we assign the integer value 50 to a new variable b.
a = 50
b = a
print(id(a))
print(id(b))

4340855432
4340855432

<img src="images/var-2.png" height=200px width=200px>



The variable `b` refers to the same object that `a` points to, because Python does not create another object.

In [37]:
# Let's assign the new value to b. Now both variables will refer to the different objects.
a = 50
b = 100
print(id(a))
print(id(b))

4340855432
4340857032

#### 5. Multiple Assignment
Python allows us to assign a value to multiple variables in a single statement, which is also known as multiple assignments.

In [38]:
# statement vs expression

In [40]:
x = y = z = 40 # single statement
print(x)
print(y)
print(z)

40
40
40

In [41]:
##### Assigning multiple values to multiple variables
x , y, z = "Lahore", 21, 3.43 # single statement
print(x)
print(y)
print(z)

Lahore
21
3.43

#### Deleting a Variable

- We can delete the variable using the `del` keyword.

In [42]:
# Assigning a value to x  
x = 6  

print(x)

6

In [43]:
del x

In [44]:
x

NameError: name 'x' is not defined

#### Maximum Possible Value of an Integer in Python
Unlike the other programming languages, Python doesn't have long int or float data types. It treats all integer values as an int data type.

In [45]:
# A Python program to display that we can store large numbers in Python  
  
a = 10000000000000000000000000000000000000000000

a = a + 1  
print(type(a))  
print (a)

<class 'int'>
10000000000000000000000000000000000000000001

<h1 align="center" style = "color:red">Python Data Types</h1>


<img src="images/7.jpeg" height=600px width=600px>


- Variables can hold values, and every value has a data-type. Python is a dynamically typed language; hence we do not need to define the type of the variable while declaring it. The interpreter implicitly binds the value with its type.
- The variable `a` holds integer value `five` and we did not define its type. Python interpreter will automatically interpret variables `a` as an integer type.

In [46]:
# a = 10
# a = '10'

In [47]:
x = 5
a = 10  
b = "Hi Python"  
c = 10.5  
print(f"types of x is {type(x)}")
print(f"types of a is {type(a)}")
print(f"types of b is {type(b)}")
print(f"types of c is {type(c)}")

types of x is <class 'int'>
types of a is <class 'int'>
types of b is <class 'str'>
types of c is <class 'float'>

<h1 align="center" style = "color:red">Comments in Python </h1>


<img src="images/comment-1.png" height=400px width=400px align="left">
<img src="images/comment-2.png" height=400px width=400px align="right">

In [48]:
# `a` is integer type variable
a = 23
print(type(a))

<class 'int'>

###  Conversion/Type Casting


<br>
<br>
<br>


<img src="images/type-casting.png" height=400px width=400px align=right>
<img src="images/type_casting.jpg" height=350px width=350px align=left>


<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

- **Implicit Type Conversion:** While performing arithmetic operations, integers are automatically converted to `float` if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

- **Explicit Type Conversion or Type Casting** refers to the conversion of an object from one data type to another

In [49]:
age = 21

marks = 74.2

c = age + marks

print(c)

95.2

In [50]:
type(c)

float

In [51]:
age = 21
name = "Ehtisham"
age + name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
age = str(age)
age + name

'21Ehtisham'

###  Explicit Type Conversion (Type Casting)


<img src="images/Tye-Conversion-and-Type-Casting-in-Python.jpg" height=450px width=450px>

#### Working of `input()` Function

In [53]:
name = input("Enter your name: ")
name

Enter your name:  Ehtisham

'Ehtisham'

In [54]:
type(name)

str

In [60]:
age = int(input("Enter your age : ")) # returns a string value

Enter your age :  23

In [61]:
age

23

In [62]:
type(age)

int

<h1 align="center" style = "color:red">Operators in Python </h1>


<br>
<br>
<br>

<img src="images/operator.png" height=300px width=300px align="left">
<img align="center" width="400px" height="250px"  src="images/operators.png" align= "right">





The operator can be defined as a symbol which is responsible for a particular operation between two operands. Operators are the pillars of a program on which the logic is built in a specific programming language. Python provides a variety of operators, which are described as follows.

### i. Arithmetic operators in Python
- Arithmetic operators are used to perform arithmetic operations between two operands.
- Python supports the following arithmetic operators:

| Operator   | Purpose           | Example     | Result    |
|------------|-------------------|-------------|-----------|
| `+`        | Addition          | `2 + 3`     | `5`       |
| `-`        | Subtraction       | `3 - 2`     | `1`       |
| `*`        | Multiplication    | `8 * 12`    | `96`      |
| `/`        | Division          | `100 / 7`   | `14.28..` |
| `//`       | Floor Division    | `100 // 7`  | `14`      |    
| `%`        | Modulus/Remainder | `100 % 7`   | `2`       |
| `**`       | Exponent          | `5 ** 3`    | `125`     |

In [63]:
# Here x and y are operands
x = 10
y = 3

# Output: x + y 
print('x + y =',x+y)

# Output: x - y 
print('x - y =',x-y)

# Output: x * y 
print('x * y =',x*y)

# Output: x / y 
print('x / y =',x/y)

# Floor Division: Output: x // y 
print('x // y =',x//y)

# Output: x ^ y 
# Ouput of Exponent
print('x ** y =',x**y)
# x = 10 , y =3 , 1000

# Output: x % y 
print('x % y =',x%y)

x + y = 13
x - y = 7
x * y = 30
x / y = 3.3333333333333335
x // y = 3
x ** y = 1000
x % y = 1

### ii.Assignment Operators
- The assignment operators are used to assign the value of the right expression to the left operand.
- Python supports the following Assignment operators:
- If a = 10, b = 20

| Operator | Description | Representation | Example | Result |
|----------|-------------|----------------|---------|--------|
| =        | It assigns the value of the right expression to the left operand | = | a=b | 20 |
| +=       | It increases the value of the left operand by the value of the right operand and assigns the modified value back to left operand. | a+ = b will be equal to a = a+ b | a+=b | 30 |
| -=       | It decreases the value of the left operand by the value of the right operand and assigns the modified value back to left operand. | a- = b will be equal to a = a- b  | a-=b | -10 |
| *=       | It multiplies the value of the left operand by the value of the right operand and assigns the modified value back to then the left operand. | a*=b will be equal to a = a*b | a*=b | 200 |
| %=       | It divides the value of the left operand by the value of the right operand and assigns the reminder back to the left operand. | a%=b will be equala to a = a%b | a%=b | 1 |

In [64]:
#Assignment operators in Python
x = 4
x += 5    # <->  x = x + 5
print(x)

#    x = x - 5
x -= 5      
print(x)

#    x = x * 5
x *= 5     
print(x)

#    x = x / 5
x /= 5  
print(x)


x **= 5      
print(x)

9
4
20
4.0
1024.0

### iii. Identity Operators in Python
- Identity operators are used to compare the ID of objects (not their values)
- Returns True if both objects refer to same memory location
- The two identity operators in Python are `is` and `is not`.


| Operator | Description |
|----------|-------------|
| is       | It is evaluated to be true if the reference present at both sides point to the same object. |
| is not   | It is evaluated to be true if the reference present at both sides do not point to the same object. |

In [65]:
#Identity operators in Python
a = 5
b = 5.0
print(id(a))
print(id(b))




print(a is b) # compare IDs
print(a == b) # COMPARE VALUES

4340853992
4412278896
False
True

### iv. Membership Operators
- Python membership operators are used to check the membership of value inside a Python data structure. If the value is present in the data structure, then the resulting value is true otherwise it returns false.


| Operator | Description |
|----------|-------------|
| in       | It is evaluated to be true if the first operand is found in the second operand (list, tuple, or dictionary). |
| not in   | It is evaluated to be true if the first operand is not found in the second operand (list, tuple, or dictionary). |

In [69]:
name = "Ehtisham Sadiq"
a = 'a'
b = 'b'

In [67]:
# check `a` in name
rv = a in name
print(rv)

True

In [68]:
# check `b` in name
rv = b in name
print(rv)

False

In [33]:
name = "Suleman"

In [1]:
from IPython.core.display import HTML

style = """
    <style>
        body {
            background-color: #f2fff2;
        }
        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            color: #4295F4;
            text-decoration: underline;
            padding-top: 15px;
        }
        
        h2 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #4A000A;
            text-decoration: underline;
            padding-top: 10px;
        }
        
        h3 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #f0081e;
            text-decoration: underline;
            padding-top: 5px;
        }

        
        p {
            text-align: center;
            font-size: 12 px;
            color: #0B9923;
        }
    </style>
"""

html_content = """
<h1>Hello</h1>
<p>Hello World</p>
<h2> Hello</h2>
<h3> World </h3>
"""

HTML(style + html_content)