
<h1> Dictionary Data structures and Control Structures </h1>

## Learning agenda of this notebook
* **Motivation to use Dictionary**
1. How to create dictionaries?
2. Proof of concepts
3. Accessing elements of a dictionary
4. Adding/Modifying elements of a dictionary
5. Removing elements from a dictionary
6. Dictionary, tuple and list conversions
7. Sorting Dictionary values
8. Aliasing vs Shallow Copy vs Deep Copy

### Motivation to use Dictionary
Let's solve a problem to see benefits of dictionary.  
How you can get marks of a specific student by using both lists students and name.

In [ ]:
students = ['Ehtisham', 'Ali', 'Ayesha', 'Dua', 'Adeen']
marks = [81, 52, 70, 74, 78]

In [ ]:
def get_marks(name):
    index = students.index(name)
    return marks[index]
get_marks('Ali Sadiq')

### 1. How to create Dictionaries?
- A Dictionary object  is created by placing comma separated `key:value` pairs in curly braces.
- The keys of a dictionary has to be unique and can be of heterogeneous immutable types only (int, string or tuple).
- The values can be duplicated and can be of heterogeneous types (mutable + immutable).

<img align="center" width="900" height="900"  src="images/dict_main.png" >

In [ ]:
# A dictionary with string keys, and integer values, showing age of person
dict1 = {
    'Ehtisham':51, 
    'Ali':52, 
    'Dua':22,
}

In [ ]:
print(dict1)
print(type(dict1))
print(id(dict1))

In [ ]:
# dictionary with mixed keys (immutable types only)
dict2 = {
    'name': 'ali', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
print(dict2)

### 2. Proof of concepts
#### a. Dictionary allows Duplicate Values

In [ ]:
# Duplicate values are allowed
d1 = {
    'name1' : 'ali',
     'name2' : 'ali'
     }
d1

#### b. Dictionary DOESNOT allows Duplicate Keys

In [ ]:
# Duplicate keys are not allowed
# This will not raise an error, but will overwrite the value corresponding to the key
d1 = { 
     'name' : 'ali',
     'name' : 'ehtisham',
     'name' : 'AYESHA'
     }
d1

#### c. Keys inside Dictionaries Must be of Immutable data types
- The keys of a dictionary has to be of immutable data type `(number, string, tuple)`

In [ ]:
# Tuple being immutable can be used as a key
d1 = {
        'ali':'name', 
      (60, 78, 83): 'marks' 
     }
d1

In [ ]:
# List being mutable cannot be used as a key
d1 = {
      'ali':'name', 
      [60, 78, 83]:'marks' 
     }
d1

#### d. Values inside Dictionaies can be of mutable/immutable data type

In [ ]:
# List being mutable can be used as a value
d1 = {
     'name':'Ali', 
      'marks':[60,78,83] 
     }
d1

In [ ]:
# Tuple being immutable can also be used as a value
d1 = {
    'name':'ali', 
      'marks': (60,78,83) 
     }
d1

#### e. Dictionaries are heterogeneous
- The keys of a dictionary can be of integer, string, or tuple type
- The values of a dictionary can be of any data type

In [ ]:
# dictionary with mixed keys (immutable types only)
dict2 = {
    'name': 'ali', 
    1: 10,
    'abc':25,
    33: 'xyz'
}
print(dict2)

#### f. Dictionaries can be nested to arbitrary depth

In [ ]:
# Creating a Nested Dictionary
dict7 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 'area' : 'Pak Villas Housing Society', 'city' : 'Okara'},
         'phone': '03460000000'
        }
dict7

### 3. Accessing Elements of a Dictionary
#### a. Retrieving a `value`of a Dictionary given a `key`
- Given a key, you can retrieve corresponding value from a dictionary using two ways:
    - Use key inside `[]` operator
    - Pass the key as argument to `dict.get(key)` method

In [ ]:
d1 = {
    'name':'Ehisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
d1['address']

In [ ]:
d1.get('marks')

**To retrieve a value from a nested dictionary**

In [ ]:
d2 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 
                   'area' : 'Pak Villas Housing Society', 
                   'city' : 'Okara'},
         'phone': '03460000000'
        }
d2

In [ ]:
d2['address']

In [ ]:
d2['address']['city']

In [ ]:
d2.get('address').get('city')

#### c. Retrieving all `key:value` pairs from a Dictionary using `dict.items()`  method
- The `dict.items()` method returns all the key-value pairs of a dictionary as a two object tuple

In [ ]:
# Creating a Nested Dictionary
d1 = {
        'name':'ehtisham', 
         'status':'ML Engineer',
        'address':{'house#' : 35, 'area' : 'Pak Villas Housing Society', 'city' : 'Okara'},
         'phone': '03460000000'
        }
 
d1

In [ ]:
l1 = d1.items()
l1

#### d. Retrieving all `keys` of a Dictionary using `dict.keys()`  method
- The `dict.keys()` method returns all the keys  of a dictionary object

#### e. Retrieving all `values` from a Dictionary using `dict.values()`  method
- The `dict.values()` method returns all the values  of a dict object
- If a value occurs multiple times in the dictionary, it will appear that many times

### 4. Adding/Modifying Elements of a Dictionary
#### a. Adding/Modifying Elements using `[]` Operator
- You can  modify value associated with a key using `[]` operator and assignment statement
```
dict[key] = value
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [ ]:
d1 = {
    'name':'Ehtisham', 
    'age':22, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
# Modify value corresponding to an existing key
d1['address'] = 'Township'
d1

In [ ]:
# Adding a new key:value pair
d1['key1'] = 'value1'
d1

#### b. Modifying Elements using `d1.update()` method 
- The `d1.update()` method is used to update the value corresponding to an existing key inside the dictionary
```
dict.update(key:value)
```
- If the key donot already exist, a new key:value is inserted in the dictionary

In [ ]:
# Create a simple dictionary
d1 = {
    'name':'Ali', 
    'age':20, 
    'address':'Pak Villas', 
    'marks':[60, 75, 80]
}
d1

In [ ]:
# Modify value corresponding to an existing key
d1.update({'name':'Ehtisham Sadiq'})
d1

**You can use the `dict.update()` method to merge two dictionaries**

In [ ]:
d1 = {
    'name':'Ehtisham Sadiq', 
    'age':22, 
}

d2 = {
    'address':'Pak Villas', 
    'marks':[60, 75, 80],
    'age':21
}

In [ ]:
d1.update(d2)
d1

In [1]:
from IPython.core.display import HTML

style = """
    <style>
        body {
            background-color: #f2fff2;
        }
        h1 {
            text-align: center;
            font-weight: bold;
            font-size: 36px;
            color: #4295F4;
            text-decoration: underline;
            padding-top: 15px;
        }
        
        h2 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #4A000A;
            text-decoration: underline;
            padding-top: 10px;
        }
        
        h3 {
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: #f0081e;
            text-decoration: underline;
            padding-top: 5px;
        }

        
        p {
            text-align: center;
            font-size: 12 px;
            color: #0B9923;
        }
    </style>
"""

html_content = """
<h1>Hello</h1>
<p>Hello World</p>
<h2> Hello</h2>
<h3> World </h3>
"""

HTML(style + html_content)