<h1  align="center">Practical Learning Data Science and Machine Learning - Assignment 01 </h1>

Write your answers based on your understanding. After completing this assignment, submit this notebook on Google Classroom. Include your username in the following format: **Assignment # 01 (Your Name)**.

1. What is the difference between a data analyst and a data scientist?
<br>
2. Write a Python program to display the version of Python you are using.
<br>
3. Write a program in which you create five variables on the same line.
<br>
4. Write a program in which you declare a variable, check its type, and display its ID.
<br>
5. Write a program in Python that uses variables to perform a sum equal to 44.
<br>
6. Write a Python program to calculate the radius of a circle.
**Sample : radius = 5**  
**Output : 78.5**     
<br>

7. Write a Python program that prints the user's first and last name and concatenates them.
**Sample : first_name = "Ehtisham"**  
**Sample : last_name = "Sadiq"**   
**Output : output = "Ehtisham Sadiq"**

<br>

<br>

8. Is the variable name `Sales` the same as `sales`? Why or why not?

<br>

9. Is the following assignment statement valid or invalid? If it is invalid, why? `72 = amount`
<br>

10. What will be displayed by the following program?   
    my_value = 99   
    my_value = 0   
    print(my_value)   
    
<br>

11. Write a Python statement that assigns the sum of 10 and 14 to the variable `total`.

<br>

12. Write a Python statement that subtracts the variable `down_payment` from the variable `total` and assigns the result to the variable `due`.

<br>

13. Write a Python statement that multiplies the variable `subtotal` by 0.15 and assigns the result to the variable `total`.

In [1]:
# 1. Difference between data analyst and data scientist
# Data analyst:
## He makes an analysis of the data (querying data, interpreting results,
## identification of patterns, working with historical data stored in data
## warehouses)
# Data scientist:
## He builds models and algorithms for prediction; works with structured and
## unstructured data (text, images, etc.)
## He uses advanced statistical mehtods, ML, programming
# They have very different skill sets.

### Question no 02

In [2]:
# 2. Python Version
import sys
print(sys.version)
import platform
print("Python version:", platform.python_version())

3.10.12 (main, Nov  6 2024, 20:22:13) [GCC 11.4.0]
Python version: 3.10.12

### Question no 03

In [27]:
# 3. Creating five variables on the same line
x1, x2, x3, x4, x5 = 1, 2, 3, 4, 5

### Question no 04

In [25]:
# 4. Declare, Type-Checking, ID-displaying
y = 10
print("Type of y: ", type(y))
print("Id of y: ", id(y))

Type of y:  <class 'int'>
Id of y:  134353079124496

### Question no 05

In [21]:
# 5. Using variables to perform a sum equal to 44
x1 = int(input("What would be the initial value? "))
x2 = 44 - x1
print("x1 is: ", x1, " and x2 is: ", x2)

What would be the initial value? 10
x1 is:  10  and x2 is:  34

### Question no 06

In [19]:
import math
# 6. Calculate the radius of a circle
## Using the area
A = int(input("What would be the area? "))
r_A = math.sqrt(A/math.pi)
## Using the circumference
C = int(input("What would be the circumference? "))
r_Y = C / (2*math.pi)
## Using the diameter
d = int(input("What is the diameter? "))
r_d = d/2
print(r_A, r_Y, r_d)

What would be the area? 10
What would be the circumference? 10
What is the diameter? 10
1.7841241161527712 1.5915494309189535 5.0

### Question no 07

In [12]:
# 7. Printing user's first name and last name and concatenation
first_name = input("Write your first name: ")
last_name = input("Write your last name: ")
concat = first_name + ' ' + last_name
print(concat)

Write your first name: Matt
Write your last name: Cano
Matt Cano

### Question no 08

In [10]:
# 8. Are variables case-sensitive ? Yes.
## Checking:
sales = int(input("These are the sales (input a different number than 100): "))
Sales = 100

These are the sales (input a different number than 100): 10

### Question no 09

In [9]:
# 9. equality sign for value assignment VS equality sign for value comparison
var = 72
72 == var # will return True
72 = var # will return an error
# though var = 72 would be correct

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-9-01442cdfe2cf>, line 4)

### Question no 10

In [8]:
# 10. What will be displayed is 0
my_value = 99
my_value = 0
print(my_value)

0

### Question no 11

In [5]:
# 11. The thing to learn is: variables in python are not constants
## Write a Python statement that assigns the sum of 10 and 14
##to the variable total
total = 10 + 14

### Question no 12

In [6]:
# 12. Write a Python statement that subtracts the variable down_payment from
# the variable total and assigns the result to the variable due.
down_payment = int(input("Enter a value less than 24 as down payment: "))
due = total - down_payment

Enter a value less than 24 as down payment: 10

### Question no 13

In [7]:
# 13. Write a Python statement that multiplies the variable subtotal
# by 0.15 and assigns the result to the variable total.
subtotal = 100
total = subtotal*0.15